[user]
    email = sgarrity@gmail.com
    name = Steve Garrity
[color]
    diff = auto
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green 
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[color "diff"]
    meta = yellow
    old = red
    new = green
    whitespace = red reverse
    plain = white

[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
[log]
	date = local
[push]
	default = matching
#[url "git@github.com:"]
#	insteadOf = https://github.com/
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[sequence]
	editor = ~/.restack/edit.sh
[core]
	editor = /usr/bin/vim
